.App {
  display: flex;  
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%; 
  
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
  background-color: blue;
  position: absolute;
}
.Container {
  
  justify-content: center;
  align-items: center;
  width: center;
  color:white;
  border-radius: 15px;
  height: 330px;
  
  /* background: #c2e59c;  fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #64b3f4, #c2e59c); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+   */
  background:linear-gradient(to right, #64b3f4b3, #c2e59c94);
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  display: inline-block;
}
.Container2 {
  display:flex;
  justify-content: center;
  width: center;
  color:white;
  border-radius: 15px;
  height: 330px;
  border: 1px solid black;
  background: #c2e59c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}
.fa-user-plus{
  font-size: 35px;
  margin-top: 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  /* color: #61dafb; */
  color:green;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
